src/main/mule/Partners.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1e6bb382-b804-4986-ad47-b5cb8fe5c245" basePath="/api" >
		<http:request-connection host="localhost" port="8000" />
	</http:request-config>
	<validation:config name="AffectedRowsMoreThanZero" doc:name="Validation Config" doc:id="da731077-c7f5-4cb0-8d3d-8b8b2c436d32"/>
	<flow name="PartnersFlowGetSingle" doc:id="47bd7dbe-02b1-4d89-a381-04e17a06c87c" >
		<db:select doc:name="Select" doc:id="130b9411-5b5e-48fa-9e05-d83442a0e012" config-ref="MysqlPayments">
			<db:sql ><![CDATA[SELECT * FROM partners WHERE id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'id':payload}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="9e739664-1a6d-425a-a3d4-c24c96ee684b" message="#[payload]"/>
	</flow>
	<flow name="PartnersFlowGetAll" doc:id="75c8b9e1-521a-4fd2-a5ef-fb73caad1e2f" >
		<db:select doc:name="Select" doc:id="5b0b0b35-57a7-40a8-a8fc-0ea3fbfd7ae4" config-ref="MysqlPayments">
			<db:sql ><![CDATA[SELECT id,name,phone,status FROM partners ORDER BY name DESC;]]></db:sql>
		</db:select>
	</flow>
	<flow name="PartnersFlowAddNew" doc:id="031d9a3d-8a61-4c03-aafb-8fb1ea489df3">
		<set-variable value='#[{"name": payload.name, "phone": payload.phone,"status": payload.status}]' doc:name="Partner Variable" doc:id="36c1b66e-5603-4d3e-adb4-b58d7e15c620" variableName="partner" />
		<http:request method="POST" doc:name="Request" doc:id="10f72363-0e15-4394-b28a-a884ac0c4949" config-ref="HTTP_Request_configuration" path="/add-user" outputMimeType="application/json">
			<http:body><![CDATA[#[{
	"us":payload.us,
	"ps":payload.ps,
	"name":payload.name,
	"phone":payload.phone
	
}]]]></http:body>
		</http:request>
		<choice doc:name="Choice" doc:id="f825ba51-74e6-444f-858e-c5bacd3fd367">
			<when expression='#[payload.message == "user created"]'>
				<db:insert doc:name="Insert" doc:id="a4471359-ece9-482e-8372-0acb1770edff" config-ref="MysqlPayments" autoGenerateKeys="true" autoGeneratedKeysColumnNames="#[['id']]">
			<db:sql><![CDATA[INSERT INTO partners (user_id,name,phone,status) 
VALUES(:user_id,:name,:phone,:status)]]></db:sql>
					<db:input-parameters><![CDATA[#[{
'user_id': payload.id ,
'name':vars.partner.name,
'phone':vars.partner.phone,
'status': vars.partner.status
}]]]></db:input-parameters>
		</db:insert>
				<validation:is-true doc:name="Is true" doc:id="5dc8a25f-f430-4f00-ba35-6762b1883b47" config-ref="AffectedRowsMoreThanZero" expression="#[payload.affectedRows &gt; 0]"/>
				<db:select doc:name="Select" doc:id="9944e815-ee27-49db-940e-a0ab7458ec09" config-ref="MysqlPayments">
					<db:sql ><![CDATA[SELECT p.id,p.name,s.username,p.phone AS password FROM partners p INNER JOIN users s ON s.id = p.user_id WHERE p.id = :id]]></db:sql>
					<db:input-parameters ><![CDATA[#[{'id':payload.generatedKeys[0]}]]]></db:input-parameters>
				</db:select>
			</when>
			<otherwise>
				<set-payload value="#[payload.message]" doc:name="Set Payload" doc:id="2d74cf36-ba3d-4aa6-8102-12f64231e746" />
			</otherwise>
		</choice>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a709f5d8-5cf4-4bc9-9f12-521046189133">
				<set-payload value='an error has ocurred' doc:name="Set Payload" doc:id="619d9c0e-443a-4a6a-a3ff-60b5e4cb0a7e" mimeType="application/json" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
